@font-face {
  font-family: Assistant-Regular;
  src: url(../fonts/Assistant-Regular.ttf);
}

body {
  margin: 0;
  font-family: Assistant-Regular;
}

p {
  margin: 0;
}

header {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: baseline;
  padding-inline: 50px;
  padding-bottom: 30px;
  font-size: 50px;
  color: white;
  background-color: black;
}

header .phone {
  display: flex;
  flex-direction: column;
  align-items: end;
  font-size: 30px;
}

header .phone div {
  display: flex;
  column-gap: 10px;
}

header .phone a {
  color: white;
  text-decoration: none;
}

header .phone label {
  direction: rtl;
}

header h1 {
  font-size: 60px;
  direction: rtl;
  margin-block: 10px;
}

header h5 {
  grid-column: 1 / 3;
  font-size: 30px;
  direction: rtl;
  margin-block: 10px;
}

@media (width <=700px) {
  header {
    grid-template-columns: 1fr;
  }

  header .phone {
    order: 3;
    text-align: center;
    align-items: center;
  }

  header h1 {
    order: 1;
    text-align: center;
  }

  header h5 {
    grid-column: 1 / 2;
    order: 2;
    text-align: center;
  }
}

section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* Equal width columns */
  align-items: stretch;
  overflow: hidden;
}

section img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
  opacity: 0;
}

section>div {
  display: flex;
  align-items: center;
  font-size: 24px;
  line-height: 1.6;
  direction: rtl;
  padding: 120px;
  margin: 0;
  opacity: 0;
  /* background-color: aqua; */
}

.fromLeft {
  transform: translateX(-100%);
  animation: slideIn 1s ease-out forwards;
}

.fromRight {
  transform: translateX(100%);
  animation: slideIn 1s ease-out forwards;
}

@keyframes slideIn {
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@media (width <=940px) {
  section {
    display: grid;
    grid-template-columns: 1fr;
    /* Equal width columns */
    align-items: stretch;
  }

  section img {
    order: 2;
  }

  section div {
    order: 1;
  }
}

@media (width <=500px) {
  section div {
    padding-inline: 30px;
    padding-block: 60px;
  }
}

footer {
  padding-block: 40px;
  background: black;
  color: white;
  margin-top: 30px;

}

footer p {
  text-align: center;
  font-size: 14px;
  padding-block: 2px;
}

footer a {
  color: white;
}

/*************************************************************/
.contact-form {
  display: grid;
  grid-template-columns: minmax(0, 400px);
  justify-content: center;
  align-self: center;
  padding: 100px;
}

.contact-form h2 {
  width: 100%;
  text-align: end;
  margin: 0;
  /* background-color: aqua; */
}

.contact-form input {
  font-size: 20px;
  font-family: Assistant-Regular;
}

.contact-form #fullname {
  direction: rtl;
}

.contact-form label {
  margin-top: 30px;
  margin-bottom: 6px;
  direction: rtl;
}

.contact-form textarea {
  direction: rtl;
  font-size: 20px;
  font-family: Assistant-Regular;
}

.contact-form #errorMessage {
  color: red;
  margin-block: 20px;
}

.required::after {
  content: " *";
  color: red;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

.contact-form button {
  padding: 20px;
  border: none;
  font-size: 20px;
  color: white;
  background-color: black;
}

.contact-form #resultMessage {
  direction: rtl;
}

@media (width <=500px) {
  .contact-form {
    padding: 50px 20px;
  }
}

/*************************************************************/

#packages_container {
  padding-block: 200px;
  background-color: #f5fafa;
}

#packages_container h1 {
  font-size: 60px;
  margin: 0;
  padding-bottom: 60px;
  text-align: center;
}

#packages_container>p {
  text-align: center;
  padding-bottom: 24px;
}

.packages {
  max-width: 1000px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 60px;
}

.packages>div {
  border-radius: 10px;
  text-align: center;
  padding-bottom: 20px;
  position: relative;
  background-color: white;
  border-radius: 20px;
}

.packages>div h2 {
  margin: 0;
  padding-block: 10px;
  border-radius: 20px 20px 0 0;
  color: white;
  background-color: black;
}

.packages>div>div {
  padding: 20px;
}

.packages>div p {
  margin: 0;
  padding-bottom: 5px;
  text-align: right;
  direction: rtl;
  font-size: 17px;
  font-weight: bold;
}

.packages ul {
  margin: 10px 0 20px;
  list-style-type: none;
  padding: 0 !important;
}

.packages ul li {
  height: 30px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  column-gap: 10px;
  direction: rtl;
  font-size: 16px;
  margin-bottom: 4px;
  /* background-color: aqua; */
}

.packages ul li::before {
  content: "";
  display: inline-block;
  width: 12px;
  height: 12px;
  background: url('data:image/svg+xml;utf8,<svg width="12" height="12" fill="black" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><circle cx="12" cy="12" r="8"/></svg>') no-repeat center center;
  background-size: contain;
}

.packages strong {
  position: absolute;
  bottom: 20px;
  width: 100%;
  left: 0;
}

@media (width <=1200px) {
  .packages {
    max-width: 600px;
    margin: auto;
    grid-template-columns: 1fr;
    gap: 40px;
  }

  .packages> :nth-child(1) {
    order: 3;
  }

  .packages> :nth-child(2) {
    order: 2;
  }

  .packages> :nth-child(3) {
    order: 1;
  }
}

@media (width <=700px) {
  .packages {
    max-width: 400px;
  }
}

@media (width <=500px) {
  .packages {
    max-width: 300px;
  }
}

/* ===== Spinner core ===== */
.loader {
  width: 1rem;
  height: 1rem;
  border: 0.35rem solid #d1d5db;
  border-top-color: #44464a;
  border-radius: 50%;
  animation: spin 0.9s linear infinite;
  margin-inline: auto;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}